/* src/styles.scss */
@import './assets/styles/variables'; 
@import './assets/styles/animations';
@import './assets/styles/mixins';
@import './assets/styles/tables';

body { margin: 20px; font-family: sans-serif; }