.flight-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #009879;
    color: #ffffff;
    text-transform: uppercase;
  }

  tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tr:hover {
      background-color: #f1f1f1;
      cursor: pointer;
  }
}